<div class="nav-menu">
    <NavLink href="/" Match="NavLinkMatch.All" class="nav-link ">
        Home
    </NavLink>
    <NavLink href="/all-products" class="nav-link">
        All Products
    </NavLink>
    <NavLink href="/sandwiches" class="nav-link">
        Sandwiches
    </NavLink>
    <NavLink href="/extras" class="nav-link">
        Extras
    </NavLink>
    <NavLink href="/cart" class="nav-link">
        Cart
    </NavLink>
    <NavLink href="/orders" class="nav-link">
        Orders
    </NavLink>
</div>
