@page "/"

<PageTitle>GoodHamburguer - Home</PageTitle>

<div class="container mt-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="display-4 mb-4">Welcome to GoodHamburguer</h1>
            <p class="lead text-muted mb-5">Your favorite burger is here!</p>
            <div class="d-flex flex-column flex-sm-row gap-3 justify-content-center">
                <a href="/all-products" class="btn btn-primary btn-lg">All Products</a>
                <a href="/sandwiches" class="btn btn-outline-primary btn-lg">Sandwiches</a>
                <a href="/extras" class="btn btn-outline-primary btn-lg">Extras</a>
            </div>
        </div>
    </div>
</div>
